.button {
  font-size: .9rem;
  letter-spacing: .05rem;
  text-transform: uppercase;
  color: var(--lightWhite);
  padding: .7rem 2.1rem;
  font-family: var(--fontregular);
  display: inline-block;
  cursor: pointer;
  transition: all .3s ease;
  background: var(--primary);
  border: 1px solid var(--primary) ;
}

.button:hover {
  background: var(--lightWhite);
  color: var(--primary);
  border: 1px solid var(--primary) ;
}


.buttonBis {
  color: var(--primary);
  background: var(--lightWhite);
}

.buttonBis:hover {
  background: var(--primary);
  color: var(--lightWhite);
  border: 1px solid var(--primary) ;
}
