.button {
  font-size: .9rem;
  letter-spacing: .05rem;
  text-transform: uppercase;
  color: var(--primary);
  padding: .7rem 2.1rem;
  border-radius: 20rem;
  font-family: var(--fontregular);
  display: inline-block;
  cursor: pointer;
  transition: all .3s ease;
  background: var(--bgPrimary);
  box-shadow: var(--neumoShadow2);
}

.button:hover {
  background: var(--bgPrimary);
  box-shadow: var(--neumoShadow1);
  color: rgba(16,77,130,.5);
}

