@font-face {
  font-family: Ubuntu light;
  src: url(font/Ubuntu-Light.ttf);
}

@font-face {
  font-family: Ubuntu regular;
  src: url(font/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: Ubuntu bold;
  src: url(font/Ubuntu-Bold.ttf);
}

